<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">
<head>
    <title>Admin - Family Tree edit <q th:text="${person.getFullName()}" th:remove="tag">??</q></title>
</head>
<body>
<div layout:fragment="content">
    <h1>Edit page for <span class="name" th:text="${person.getFullName()}">??</span> </h1>
    <form method="post" th:object="${person}">
        <div class="form-group">
            <label for="firstname">First name(s)</label>
            <input type="text" id="firstname" th:field="*{firstNames}" class="form-control"
                   placeholder="Enter first name(s)"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" id="lastname" th:field="*{lastName}" class="form-control"
                   placeholder="Enter last name"/>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="sexm" value="M" th:checked="${person.isMale()}">
            <label class="form-check-label" for="sexm">👨 Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="sexf" value="F" th:checked="${person.isFemale()}">
            <label class="form-check-label" for="sexf">👩 Female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="sexu" value="-" th:checked="${!person.isMale() && !person.isFemale()}">
            <label class="form-check-label" for="sexu">Unknown</label>
        </div>

        <div class="form-group">
            <label for="birthdate">Birth date</label>
            <input type="date" id="birthdate" th:field="*{birthDate}" class="form-control"
                placeholder="Birth date">
        </div>
        <div class="form-group">
            <label for="birthplace">Birth place</label>
            <input type="text" id="birthplace" th:field="*{birthPlace}" class="form-control"
                   placeholder="Birth place">
        </div>

        <div class="form-group">
            <label for="deathdate">Date of death</label>
            <input type="date" id="deathdate" th:field="*{deathDate}" class="form-control"
                   placeholder="Death date">
        </div>
        <div class="form-group">
            <label for="deathplace">Place of death</label>
            <input type="text" id="deathplace" th:field="*{deathPlace}" class="form-control"
                   placeholder="Death place">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="history.back(-1)">Cancel</button>
    </form>
</div>
</body>
</html>