<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">
<head>
    <title>Admin - Family Tree login</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Login</h1>
        <form method="post">
            <p class="text-primary">Please log in</p>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control"
                       placeholder="Enter user name"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Enter secret password"/>
            </div>
            <p class="text-danger" th:text="${message}">warning</p>

            <button type="submit" name="answer" value="yes" class="btn btn-primary">Login</button>
            <button type="submit" name="answer" value="no" class="btn btn-warning">Cancel</button>
        </form>
    </div>
</body>
</html>