<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<head>
    <title>Admin - Family Tree login</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Fake login</h1>
        <form method="post">
            <p>Do you want to log in?</p>
            <button type="submit" name="answer" value="yes">Yes</button>
            <button type="submit" name="answer" value="no">No</button>
        </form>
    </div>
</body>
</html>