<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">
<head>
    <title>Admin - Family Tree search</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Search for names to edit</h1>
        <form method="post">
            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" id="firstname"  class="form-control"
                       placeholder="Enter (partial) first name(s)" th:value="${firstname}"/>
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" id="lastname" class="form-control"
                       placeholder="Enter (partial) last name" th:value="${lastname}" >
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <!-- result list -->
        <div th:if="${list} != null">
            <table>
                <tr th:each="indi : ${list}">
                    <td>
                        <span th:replace="fragments/adminlayout :: personline(${indi})" th:remove="tag"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>