<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">
<head>
    <title>Admin - Family Tree: <q th:text="${person.primary.getFullName()}" th:remove="tag">??</q></title>
</head>
<body>
<div layout:fragment="content">
    <h1>Information about <span th:text="${person.primary.getFullName()}" class="name">{person}</span></h1>

    <h2>Descent</h2>
    <table class="table table-bordered pedigree">
        <tr>
            <td colspan="2">
                <!-- primary + siblings -->
                <div>
                    <div th:replace="fragments/adminlayout :: personblock(${person.primary}, 'primary', ${person.primary.getId()})">primary</div>
                    <q th:each="sibling : ${person.siblings}" th:remove="tag">
                        <div th:replace="fragments/adminlayout :: personblock(${sibling}, 'sibling', ${person.primary.getId()})">sibling</div>
                    </q>
                    <div class="sibling" th:if="${person.family.id != 0}"><a th:href="@{/admin/person/add(primary=${person.primary.getId()},cfam=${person.family.id})}">add sibling</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" th:if="${person.family.id != 0}">
                <div>
                    <div th:if="${person.family.husband!=null}" th:replace="fragments/adminlayout :: personblock(${person.family.husband}, 'parent', ${person.primary.getId()})">father</div>
                    <div th:if="${person.family.husband==null}" class="parent"><a th:href="@{/admin/person/add(primary=${person.primary.getId()},sfam=${person.family.id})}">add father</a></div>
                    <div th:replace="fragments/adminlayout :: familyblock(${person.family}, ${person.primary.getId()})"></div>
                    <div th:if="${person.family.wife!=null}" th:replace="fragments/adminlayout :: personblock(${person.family.wife}, 'parent', ${person.primary.getId()})">mother</div>
                    <div th:if="${person.family.wife==null}" class="parent"><a th:href="@{/admin/person/add(primary=${person.primary.getId()},sfam=${person.family.id})}">add mother</a></div>
                </div>
            </td>
            <td colspan="2" th:if="${person.family.id == 0}">
                <a th:href="@{/admin/family/add(primary=${person.primary.getId()},famtype=C)}">add parent family</a>
            </td>
        </tr>
    </table>

    <q th:if="${!person.marriages.isEmpty()}" th:remove="tag">
        <h2>Marriage<span th:if="${person.marriages.size()} > 1" th:remove="tag">s</span></h2>
        <div th:each="family : ${person.marriages}">
            <p th:if="${family.wife != null && family.wife.id != person.primary.id}">
                <strong>Married to</strong> <span th:replace="fragments/adminlayout :: personline(${family.wife}, ${person.primary.getId()})">
            </p>
            <p th:if="${family.husband != null && family.husband.id != person.primary.id}">
                Married to <span th:replace="fragments/adminlayout :: personline(${family.husband}, ${person.primary.getId()})">
            </p>
            <p th:if="${!family.children.isEmpty()}">
                <strong>Children</strong>
            <ul>
                <li th:each="child : ${family.children}"><span th:replace="fragments/adminlayout :: personline(${child}, ${person.primary.getId()})"></span></li>
            </ul>
            </p>
            <p th:if="${family.children.isEmpty()}">
                <span>No (known) children</span>
            </p>
        </div>
    </q>
</div>
</body>
</html>