body {
    padding: 10px;
}

header {
    background: lightgrey;
}

footer {
    padding-top: 20px;
}

ul.names {
    column-width: 15em;
}

div.persons {
    display:flex;
    flex-wrap: wrap;
}

div.persons div {
     flex-basis: auto;
     border: 1px solid black;
     border-radius: 1px;
     margin: 2px;
     padding: 0 5px;
}

div.persons div p:first-of-type {
     font-weight: bold;
}

table.pedigree td {
    text-align: center;
}

table.pedigree tr:first-of-type div div {
    float: left;   
}

table.pedigree tr:nth-of-type(3) td {
    width: 50%;
}

table.pedigree div.primary {
    background-color: rgb(228, 228, 228);
}

table.pedigree div.sibling {
    color: darkgrey;
    font-size: smaller;
}

table.pedigree div.parent {
    width: 40%;
    float: left;
}

table.pedigree div.marriage {
    width: 20%;
    float: left;
}
