<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<body>

    <div layout:fragment="content">
        <p>
        All known last names.
        </p>
        <p>
            <ul class="names">
                <li th:each="name : ${names}">
                    <a href="/names/" th:attrappend="href=${name.getLastName()}" th:text="${name.getLastName()}"></a> (<span th:text="${name.getCount()}"></span>)</li>
            </ul>
        </p>
    </div>

</body>
</html>