<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<head>
    <title>List of last names - Family Tree</title>
</head>
<body>

    <div layout:fragment="content">
        <p>
        All known last names.
        </p>
        <p>
            <ul class="names">
                <li th:each="name : ${names}"><a href="/names/" th:attrappend="href=${name.getLastName()}" th:text="${name.toString()}"></a></li>
            </ul>
        </p>
    </div>

</body>
</html>