<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Summary of family tree</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/familytree.css" />
</head>
<body>
    <header th:replace="fragments/layout :: header">
        <h1>header</h1>
    </header>

    <div class="container">
        <p>
        This application shows a family tree, based on an imported <a href="https://en.wikipedia.org/wiki/GEDCOM" target="_blank">GEDCOM</a> file.
        </p>
        <p>
            <ul>
                <li><a href="/familynames">Main index of family names</a>.</li>
                <li><a href="/report/summary">Summary statistics</a>.</li>
            </ul>
        </p>
    </div>

    <footer th:replace="fragments/layout :: footer">
        Family Tree &copy; 2019 Hans Kesting.
    </footer>
</body>
</html>