<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<body>
    <div layout:fragment="content">
        <p><a href="/familynames">Back to overview</a></p>
        <h1>Family <q><span th:text="${name}" class="name"></span></q></h1>
        <div class="persons">
            <div th:each="person : ${persons}">
                <p>
                    <a href="/person/" th:attrappend="href=${person.getId()}" th:text="${person.getFirstNames()}"></a>
                    <strong th:if="${person.isMale()}">&male;👨</strong>
                    <strong th:if="${person.isFemale()}">&female;👩</strong>
                </p>
                <p th:if="${person.getBirthDate() != null}">✤ <span th:text="${person.getBirthDate()}"></span> <span th:text="${person.getBirthPlace()}"></span></p>
                <p th:if="${person.getDeathDate() != null}">&dagger; <span th:text="${person.getDeathDate()}"></span> <span th:text="${person.getDeathPlace()}"></span></p>
            </div>
        </div>
        <p><a href="/familynames">Back to overview</a></p>
    </div>
</body>
</html>