<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<head>
    <title><q th:text="${person.primary.getFullName()}" th:remove="tag"></q> - Family Tree</title>
</head>
<body>
    <div layout:fragment="content">
        <p>
            Back to <a href="/names/" th:attrappend="href=${person.primary.lastName}" th:text="${person.primary.lastName}"></a>.
        </p>

        <h1>Information about <span th:text="${person.primary.getFullName()}" th:remove="tag">{person}</span></h1>

        <h2>Descent</h2>
        <table class="table table-bordered pedigree">
            <tr>
                <td colspan="2">
                    <!-- primary + siblings -->
                    <div>
                    <div th:replace="fragments/layout :: personblock(${person.primary}, 'primary')">primary</div>
                    <q th:each="sibling : ${person.siblings}" th:remove="tag">
                        <div th:replace="fragments/layout :: personblock(${sibling}, 'sibling')">sibling</div>
                    </q>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.family.husband}, 'parent')">father</div>
                        <div th:replace="fragments/layout :: familyblock(${person.family})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.family.wife}, 'parent')">mother</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.paternalGrandparents.husband}, 'parent')">paternal grandfather</div>
                        <div th:replace="fragments/layout :: familyblock(${person.paternalGrandparents})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.paternalGrandparents.wife}, 'parent')">paternal grandmother</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.maternalGrandparents.husband}, 'parent')">maternal grandfather</div>
                        <div th:replace="fragments/layout :: familyblock(${person.maternalGrandparents})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.maternalGrandparents.wife}, 'parent')">maternal grandmother</div>
                    </div>
                </td>
            </tr>
        </table>

        <q th:if="${!person.marriages.isEmpty()}" th:remove="tag">
        <h2>Marriage<span th:if="${person.marriages.size()} > 1" th:remove="tag">s</span></h2>
        <div th:each="family : ${person.marriages}">
            <p th:if="${family.wife != null && family.wife.id != person.primary.id}">
                <strong>Married to</strong> <span th:replace="fragments/layout :: personline(${family.wife})">
            </p>
            <p th:if="${family.husband != null && family.husband.id != person.primary.id}">
                Married to <span th:replace="fragments/layout :: personline(${family.husband})">
            </p>
            <p th:if="${!family.children.isEmpty()}">
                <strong>Children</strong>
                <ul>
                    <li th:each="child : ${family.children}"><span th:replace="fragments/layout :: personline(${child})"></span></li>
                </ul>
            </p>
            <p th:if="${family.children.isEmpty()}">
                <span>No (known) children</span>
            </p>
       </div>
        </q>
    </div>
</body>
</html>