<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baselayout}">
<head>
    <title><q th:text="${person.primary.getFullName()}" th:remove="tag"></q> - Family Tree</title>
</head>
<body>
    <div layout:fragment="content">
        <p>
            Back to <a href="/names/" th:attrappend="href=${person.primary.lastName}" th:text="${person.primary.lastName}"></a>.
        </p>

        <h1>Information about <span th:text="${person.primary.getFullName()}" th:remove="tag">{person}</span></h1>

        <h2>Descent</h2>
        <table class="table table-bordered pedigree">
            <tr>
                <td colspan="2">
                    <!-- primary + siblings -->
                    <div>
                    <div th:replace="fragments/layout :: personblock(${person.primary}, 'primary')">primary</div>
                    <q th:each="sibling : ${person.siblings}" th:remove="tag">
                        <div th:replace="fragments/layout :: personblock(${sibling}, 'sibling')">sibling</div>
                    </q>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.family.husband}, 'parent')">father</div>
                        <div th:replace="fragments/layout :: familyblock(${person.family})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.family.wife}, 'parent')">mother</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.paternalGrandparents.husband}, 'parent')">paternal grandfather</div>
                        <div th:replace="fragments/layout :: familyblock(${person.paternalGrandparents})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.paternalGrandparents.wife}, 'parent')">paternal grandmother</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div th:replace="fragments/layout :: personblock(${person.maternalGrandparents.husband}, 'parent')">maternal grandfather</div>
                        <div th:replace="fragments/layout :: familyblock(${person.maternalGrandparents})"></div>
                        <div th:replace="fragments/layout :: personblock(${person.maternalGrandparents.wife}, 'parent')">maternal grandmother</div>
                    </div>
                </td>
            </tr>
        </table>

        <q th:if="${person.marriages.size()} > 0">
        <h2>Marriage(s)</h2>
        <p>
            married to {other person}, {date} {place}. divorced {date} {place}
        </p>
        <p>
            children ...
        </p>
        </q>
    </div>
</body>
</html>