<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Summary of family tree</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/familytree.css" />
</head>
<body>
<header th:replace="fragments/layout :: header">
    <h1>header</h1>
</header>

    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Object</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Persons</td>
                <td th:text="${summary.personCount}">0</td>
            </tr>
            <tr>
                <td>Families</td>
                <td th:text="${summary.familyCount}">0</td>
            </tr>
            <tr>
                <td>Spouse relations</td>
                <td th:text="${summary.spouseCount}">?</td>
            </tr>
            <tr>
                <td>Child relations</td>
                <td th:text="${summary.childCount}">?</td>
            </tr>

            </tbody>
        </table>

        <p>The "Persons" are the various individuals that are registered in the system. Relations between individuals are registered in "Families".
        A person can be registered as "child" or as "spouse" in a particular family. Of course he or she will be child in one real family
            (although that family may not be registered here) and may be spouse in another family (or more).
        </p>
    </div>

    <footer th:replace="fragments/layout :: footer">
        Family Tree &copy; 2019 Hans Kesting.
    </footer>
</body>
</html>